{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="https://zini-vai-mini.fra1.cdn.digitaloceanspaces.com/zini-vai-mini/zini-vai-mini-static/css/header.css"> -->
<div id="header-main">
    <p id="player-name"></p>
    <div id="question-number-div">
        <svg>
            <circle cx="50%" cy="50%" r="45%" stroke="#00DFA2" stroke-width="4" fill="None"/>
        </svg>
        <h2 id="question-number">0</h2>
    </div>
    <p id="score">0 punkti</p>
</div>