{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/question_page.css' %}">
<!-- <div id="question-number-div">
    <svg>
        <circle cx="50%" cy="50%" r="45%" stroke="#00DFA2" stroke-width="7" fill="None"/>
    </svg>
    <h2 id="question-number">0</h2>
</div> -->
<div id="question-name-container">
    <div id="left-pol"></div>
    <div id="right-pol"></div>

    <h1 id="question-name">This is the question?</h1>

</div>

<div id="answer-container">
    <div class="answer-btn answ1">
        <p class="answer">answer</p>
        <div class="answer-decor answ1"></div>
    </div>
    <div class="answer-btn answ2">
        <p class="answer">answer</p>
        <div class="answer-decor answ2"></div>
    </div>
    <div class="answer-btn answ3">
        <p class="answer">answer</p>
        <div class="answer-decor answ3"></div>
    </div>
    <div class="answer-btn answ4">
        <p class="answer">answer</p>
        <div class="answer-decor answ4"></div>
    </div>
</div>

