{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/before_game.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="https://zini-vai-mini.fra1.cdn.digitaloceanspaces.com/zini-vai-mini/zini-vai-mini-static/css/before_game.css"> -->

<!-- <img src="{% static 'images/background.png' %}" id="background"></img> -->
<div>
    <img src="{% static 'svg/loading_circle.svg' %}" id="loading-svg"></img>
    <h3>Atbilde ir iesniegta!</h3>
    <p>Gaidi jautājuma beigas.</p>
</div>

